<app-header></app-header>
<div class="container-fluid">
  <h3 class="primary-heading">{{ pageHeading }}</h3>
  <form
    class="form-horizontal"
    [formGroup]="updateUserForm"
    (ngSubmit)="onUpdateUser(updateUserForm)"
  >
    <div class="form-group">
      <label for="name"
        >User Name&nbsp;<span style="color: red">*</span>
      </label>
      <input
        type="text"
        class="form-control"
        [class.is-invalid]="name?.invalid && name?.touched"
        formControlName="name"
        placeholder="Enter Your Name"
        [value]="currentUserData?.name"
        required
      />
      <div *ngIf="name?.invalid && name?.touched">
        <small *ngIf="name?.errors?.['required']" class="text-danger"
          >Name is Required</small
        >
        <small *ngIf="name?.errors?.['minlength']" class="text-danger"
          >Name must has 3 characters</small
        >
        <small *ngIf="(name?.errors?.['pattern'])" class="text-danger">
          Should contain only characters</small
        >
      </div>
    </div>
    <div class="form-group">
      <label for="Age">Age&nbsp;<span style="color: red">*</span></label>
      <input
        type="text"
        class="form-control"
        [class.is-invalid]="age?.invalid && age?.touched"
        formControlName="age"
        placeholder="Enter Your Age"
        [value]="currentUserData?.age"
        required
      />
      <div *ngIf="age?.invalid && age?.touched">
        <small *ngIf="age?.errors?.['required']" class="text-danger"
          >Age is Required</small
        >
        <small *ngIf="(age?.errors?.['pattern'])" class="text-danger">
          Age Should Be in Number & Between 18 to 60</small
        >
      </div>
    </div>
    <button
      [disabled]="updateUserForm.invalid"
      class="btn btn-success"
      type="submit"
    >
      Update User
    </button>
    <button class="btn btn-dark" type="button" routerLink="/userProfile">
      Go Back
    </button>
  </form>
</div>

<app-footer></app-footer>
